body {
  margin: 0;
  padding: 0;
  background-color: rgba(250, 250, 250, 0.9);
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}

header {
  position: absolute;
  width: 100%;
  height: 60px;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
}

hr {
  border: 1px solid #ececec;
}

header img {
  height: 30px;
  margin-left: 30px;
}

header a {
  text-decoration: none;
  color: #222;
}


h1 {
  margin: 0px;
  color: #222;
  margin-left: 20px;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-font-smoothing: subpixel-antialiased;
}

h2 {
  margin: 0px;
  margin-left: 20px;
  font-weight: 300;
  font-size: 1.2em;
  color: #222;
  -webkit-font-smoothing: subpixel-antialiased;
}

h3 {
  margin: 0px;
  margin-bottom: .5em;
  font-size: 20px;
  line-height: 1.2;
  color: #222;
}

h4 {
  margin: 0px;
  font-size: 16px;
  line-height: 1.2;
  color: #222;
}

.sub {
  font-size: 16px;
  color: #999;
}

main {
  height: 100%;
  max-height: 100%;
  width: 100%;
}

.seperator {
  width: 1px;
  background: #ccc;
  float: right;
  height: 20px;
  margin: 2px 0px 0 15px;
}

.control-box {
  box-sizing: border-box;
  background: rgba(250, 250, 250, 0.9);
  position: absolute;
  width: 305px;
  top: 100px;
  left: 20px;
  color: #222;
  z-index: 1000;
  padding: 20px;
  border-radius: 5px;
  pointer-events: none;
  overflow-y: auto;
}

.reportNotice {
  color: rgb(120, 193, 168);
  font-weight: 600;
  /* font-size: 18px; */
}

.tooltip {
  display: none;
  background: rgba(255, 255, 255, 0.9);
  border-left: 5px solid #61c9ab;
  margin-left: 28px;
  position: absolute;
  z-index: 1000;
  width: 200px;
  /* height: 250px; */
}

.tooltip span {
  font-size: 14px;
}

.tooltip img {
  object-fit: cover;
}

#tp-image {
  width: 100%;
  height: 120px;
  background: url("../assets/GE.NRW-DF.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tp-content {
  padding: 10px;
  margin-bottom: 5px;
}

.links {
  position: absolute;
  right: 20px;
}

.links img {
  margin-left: 15px;
}

.attribution {
  position: absolute;
  display: inline-flex;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  bottom: 0px;
  left: 0px;
  height: 50px;
  font-size: 12px;
  padding-left: 25px;
  padding-right: 10px;
  background: rgba(255, 255, 255, 0.4);
}

.attribution img {
  height: 40px;
}

.attribution a {
  text-decoration: none;
  color: #999;
}

.attribution .seperator {
  margin: 0 15px 0 10px;
}

/* mobile settings */
@media screen and (max-width: 768px) {
  header {
    z-index: 1001;
  }
  header h1 {
    display: none;
  }
  
  header img {
    margin-left: 20px;
  }
  
  header h2 {
    font-size: 1em;
    width: 170px;
  }
  
  header .seperator {
    display: none;
  }
  
  .control-box {
    left: 0px;
    top: 60px;
    width: 100%;
    border-radius: 0px;
  }
  
  h3 {
    font-size: 1em;
  }
  
  .sub {
    font-size: 0.75em;
  }
  
  .attribution {
    width: 100%;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    box-sizing: border-box;
  }
  
  .attribution .seperator {
    margin: 0px 15px 0 10px;
  }

}
